{% extends 'base.html' %}
{% block content %}
<div class="col-lg-11 bg-white mb-2">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header  bg-transparent"><i class="fas fa-book-open fa-lg border rounded bg-primary text-light p-2"></i> Update Exam</div>
            {% for foo in messages %}
                                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ foo }}
                                </div>
            {% endfor %}
            <div class="card-body">
               {{ form1.media }}
                <form class="well contact-form" id="subjects" data-cities-url="{% url 'ajax_load_subject' %}" method="post" action="{% url 'exam_update' exam.0.exam_id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="id_exam_name">Exam Name:</label>
                                <span class="text-danger">*</span>
                                <input type="text" class="form-control" name="exam_name" value="{{ exam.0.exam_name }}" required>
                                    <label for="" class="text-danger"></label>
                                </div>
                            {% for form in form1 %}
                                <div class="form-group">
                                {{ form.label_tag }}
                                {% if form.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form }}
                                    <label for="" class="text-danger">{{ form.errors }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-4">
                            {% for form in form2 %}
                                <div class="form-group">
                                {{ form.label_tag }}
                                {% if form.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form }}
                                    <label for="" class="text-danger">{{ form.errors }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-4">
                            {% for form in form3 %}
                                <div class="form-group">
                                {{ form.label_tag }}
                                {% if form.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form }}
                                    <label for="" class="text-danger">{{ form.errors }}</label>
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-block" style="background-image: linear-gradient(to right,#01c095, #0384d3);color: white;">
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}